@font-face {
  font-family: 'accordalternate';
  font-style: normal;
  font-weight: 400;
  src: local('accordalternate'), local('accordalternate-regular'), url('font/accordalternate-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'accordalternate';
  font-style: normal;
  font-weight: 700;
  src: local('accordalternate'), local('accordalternate-bold'), url('font/accordalternate-bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'accordalternate';
  font-style: italic;
  font-weight: 400;
  src: local('accordalternate'), local('accordalternate-italic'), url('font/accordalternate-italic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* athelas */

@font-face {
  font-family: 'athelas';
  font-style: normal;
  font-weight: 400;
  src: local('athelas'), local('athelas-regular'), url('font/athelas-regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'athelas';
  font-style: normal;
  font-weight: 700;
  src: local('athelas'), local('athelas-bold'), url('font/athelas-bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'athelas';
  font-style: italic;
  font-weight: 400;
  src: local('athelas'), local('athelas-italic'), url('font/athelas-italic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'athelas';
  font-style: italic;
  font-weight: 700;
  src: local('athelas'), local('athelas-bolditalic'), url('font/athelas-bolditalic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* FreightText */
@font-face {
  font-family: 'FreightText';
  font-style: normal;
  font-weight: 400;
  src: local('FreightText'), local('FreightText-regular'), url('font/FreightTextMedium.otf') format('opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'FreightText';
  font-style: italic;
  font-weight: 400;
  src: local('FreightText'), local('FreightText-italic'), url('font/FreightTextMediumItalic.otf') format('opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'FreightText';
  font-style: normal;
  font-weight: 700;
  src: local('FreightText'), local('FreightText-bold'), url('font/FreightTextBold.otf') format('opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'FreightTextBook';
  font-style: normal;
  font-weight: 400;
  src: local('FreightText'), local('FreightTextBook-regular'), url('font/FreightTextBook.otf') format('opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'FreightTextBook';
  font-style: italic;
  font-weight: 400;
  src: local('FreightText'), local('FreightTextBook-italic'), url('font/FreightTextBookItalic.otf') format('opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* sabon */
@font-face {
  font-family: 'sabon';
  font-style: normal;
  font-weight: 400;
  src: local('sabon'), local('sabon-regular'), url('font/sabon-regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'sabon';
  font-style: normal;
  font-weight: 700;
  src: local('sabon'), local('sabon-bold'), url('font/sabon-bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'sabon';
  font-style: italic;
  font-weight: 400;
  src: local('sabon'), local('sabon-italic'), url('font/sabon-italic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'sabon';
  font-style: italic;
  font-weight: 700;
  src: local('sabon'), local('sabon-bolditalic'), url('font/sabon-bolditalic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* GandhiSans */
@font-face {
  font-family: 'GandhiSans';
  font-style: normal;
  font-weight: 400;
  src: local('GandhiSans'), local('GandhiSans-Regular'), url('font/GandhiSans-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'GandhiSans';
  font-style: normal;
  font-weight: 700;
  src: local('GandhiSans'), local('GandhiSans-Bold'), url('font/GandhiSans-Bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'GandhiSans';
  font-style: italic;
  font-weight: 400;
  src: local('GandhiSans'), local('GandhiSans-Italic'), url('font/GandhiSans-Italic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'GandhiSans';
  font-style: italic;
  font-weight: 700;
  src: local('GandhiSans'), local('GandhiSans-BoldItalic'), url('font/GandhiSans-BoldItalic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Freight';
  font-style: normal;
  font-weight: 400;
  src: local('FreightBigLight'), local('Freight Big Light'), url('font/FreightBigLight.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Fabrica';
  font-style: normal;
  font-weight: 400;
  src: local('Fabrica'), local('fabrica'), url('font/fabrica.woff.html') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/**/

/* Bonveno CF */
@font-face {
  font-family: 'Bonveno CF';
  font-style: normal;
  font-weight: 400;
  src: local('Bonveno CF Light'), local('BonvenoCF-Light'), url('font/BonvenoCF-Light.otf') format('opentype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Century Gothic */
@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Century Gothic'), local('CenturyGothic'), url('font/07558_CenturyGothic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Felix Titling */
@font-face {
  font-family: 'Felix Titling';
  font-style: normal;
  font-weight: 400;
  src: local('Felix Titling'), local('Felixti'), url('font/Felixti.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Party at Gatsby's */
@font-face {
  font-family: "Party at Gatsby's";
  font-style: normal;
  font-weight: 400;
  src: local("Party at Gatsby's"), local('partyatgatsbys'), url('font/partyatgatsbys.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Avenir */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('AvenirNextLTPro'), local('AvenirNextLTPro-Regular'), url('font/AvenirNextLTPro-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  src: local('AvenirNextLTPro'), local('AvenirNextLTPro-Bold'), url('font/AvenirNextLTPro-Bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  font-weight: 400;
  src: local('AvenirNextLTPro'), local('AvenirNextLTPro-Italic'), url('font/AvenirNextLTPro-Italic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 200;
  src: local('AvenirNextLTPro'), local('AvenirNextLTPro-Light'), url('font/AvenirNextLTPro-Light.otf') format('opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Lora */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url('font/Lora-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora'), local('Lora-Bold'), url('font/Lora-Bold.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora'), local('Lora-Italic'), url('font/Lora-Italic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora'), local('Lora-BoldItalic'), url('font/Lora-BoldItalic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('font/PlayfairDisplay_Regular.ttf') format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('font/PlayfairDisplay_Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Bonveno';
  font-style: italic;
  font-weight: 400;
  src: local('Bonveno'), local('Bonveno'), url('font/BonvenoCF-Light-webfont.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
